.region-wrapper-night{
    width:100%;
    height:100vh;
    background-color: #212e37;
    padding:30px;
    display: flex;
    flex-direction: column;

    .regions{
        width:80%;  
        margin:30px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .region{
            margin-top:30px;
            width:100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .region-info{
                
                .official{
                    font-size:1.5rem;
                    color:#fcffff;
                    font-family:"bold";
                    margin-bottom:12px;
                }

                .titles{

                    p{
                        font-size:1rem;
                        color:#e4eff1;
                        font-family:"bold";
                        margin:5px 0;

                        .info{
                            font-size:1rem;
                            color:#8c99a2;
                            font-family:"normal";
                            margin-left:5px;
                        }

                        a{
                            color:#8c99a2;
                        }
                    }
                }
            }

        }

        .flags{
            width:100%;
            margin-right:30px;

            img{
                width:100%;
                margin-right:20px;
            }
        }
    }
   
    .button{
      
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      
        .btn{
            color:#8d949c;
            font-family: "normal";
            font-size:15px;
            border: none;
            border-radius: 6px;
            box-shadow: 5px 5px 9px rgba(29, 41, 53, 0.1);
            padding: 5px 10px;
            background-color: #2b3743;
            width:100px;
            cursor: pointer;
        }
        .btn:hover{
           color:#ffffff;
        }
    }
}



// light style

.region-wrapper-day{
    width:100%;
    background-color: #fafafa;
    padding:30px;
    display: flex;
    flex-direction: column;
    height:100vh;
   
    .regions{
        width:80%;
        margin:30px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .region{
            margin-top:30px;
            width:100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .flags{
                width:100%;
                margin-right:30px;
    
                img{
                    width:100%;
                }
            }
            

            .region-info{
              
                .official{
                    font-size:1.5rem;
                    color:#131415;
                    font-family:"bold";
                    margin-bottom:12px;
                }
              
                .titles{

                    p{
                        font-size:1rem;
                        color:#3a3a3a;
                        font-family:"bold";
                        margin:5px 0;

                        .info{
                            font-size:1rem;
                            color:#7d7d7d;
                            font-family:"normal";
                            margin-left:5px;
                        }
                    }

                    a{
                        color:#7d7d7d;
                    }
                }
              
            }
        }

        .flags{
            max-width:400px;
            width:100%;

            img{
                width:100%;
            }
        }
    }
  
    .button{
   
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      
        .btn{
            color:#888a89;
            font-family: "normal";
            font-size:15px;
            border: none;
            border-radius: 6px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
            padding: 5px 10px;
            background-color: #ffffff;
            width:100px;
            cursor: pointer;
        }

        .btn:hover{
           color:#2b3743;
        }
    }
}


@media(max-width:1175px){
    .region-wrapper-night{

        .regions{

            .region{
                flex-direction: column;
            }

            .region-info{
                margin-top:20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    .region-wrapper-day{
        .regions{

            .region{
                flex-direction: column;
            }

            .region-info{
                margin-top:20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}