.input-wrapper{
    background-color: #ffffff;
    width:100%;
    border-radius: 10px;
    height:2.5rem;
    padding:0 15px;
    box-sizing: 0px 0px 8px #dddddd;
    display: flex;
    align-items: center;

    .icon-search{
        color:royalblue;
    }

    input{
        background-color: transparent;
        border: none;
        height:100%;
        font-size:1rem;
        font-family:"normal";
        width:100%;
        margin-left: 5px;
        outline: none;
        color:#818080;
    }
}