// light mode

.main-wrapper-input{
     display: flex;
     flex-direction: column;
     align-items:flex-start;
     justify-content: flex-start;
     width:300px;
     position: absolute;
     z-index: 2;
     top:20px;
    
  
 

    .input-wrapper{
        background-color: #ffffff;
        width:100%;
        border-radius: 5px 5px 0 0;
        height:2.5rem;
        padding:0 15px;
        box-shadow: 0px 0px 8px #dddddd;
        display: flex;
        align-items: center;
       
    
        .icon-search{
            color:royalblue;
        }
    
        input{
            background-color: transparent;
            border: none;
            height:100%;
            font-size:1rem;
            font-family:"normal";
            width:100%;
            margin-left: 5px;
            outline: none;
            color:#818080;
        }
    }

    .options{
     
        background-color: #ffffff;
        width:100%;
        padding:8px 15px;
        box-shadow: 0px 0px 8px #dddddd;
        display: flex;
        align-items: center;
        justify-content:flex-start;
        opacity:0.9;
       

        p{
            font-size:1rem;
            font-family:"normal";
            color:#818080;
            cursor: pointer;

        }
        p:hover{
            color:#1f1e1e;
        }
    }
}

// night mode



.main-wrapper-input-night{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    width:300px;
    position: absolute;
    z-index: 2;
    top:20px;
    
  
   

   .input-wrapper{
       background-color: #2b3743;
       width:100%;
       border-radius: 5px 5px 0 0;
       height:2.5rem;
       padding:0 15px;
       box-shadow: 0px 0px 4px #dddddd;
       display: flex;
       align-items: center;
   
       .icon-search{
           color:#f9fbfb;
       }
   
       input{
           background-color: transparent;
           border: none;
           height:100%;
           font-size:1rem;
           font-family:"normal";
           width:100%;
           margin-left: 5px;
           outline: none;
           color:#f9fbfb;
       }
   }

   .options{
    
       background-color: #2b3743;
       width:100%;
       padding:8px 15px;
       box-shadow: 0px 0px 8px #dddddd;
       display: flex;
       align-items: center;
       justify-content:flex-start;
       opacity:0.9;
     
     
     

       p{
           font-size:1rem;
           font-family:"normal";
           color:#f9fbfb;
           cursor: pointer;
       

       }
       p:hover{
           color:#1f1e1e;
       }
   }
}


@media(max-width:635px){
    .main-wrapper-input{ 
        left:50%;
        transform: translateX(-50%);
    }

    .main-wrapper-input-night{
        left:50%;
        transform: translateX(-50%);
    }
}