// day mode


.search-region-wrapper-day{
  width:250px;
  position:absolute;
  top:20px;
  right:30px;


  .input-wrapper{
    background-color: #ffffff;
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #dddddd;
    display: flex;
    align-items: center;

    .icon-search{
        color:royalblue;
    }

    input{
        background-color: transparent;
        border: none;
        height: 100%;
        font-size: 1rem;
        font-family: "normal";
        width: 100%;
        margin-left: 5px;
        outline: none;
        color: #818080;
    }
  }


}

// noght mode


.search-region-wrapper-night{
    width:250px;
    position:absolute;
    top:20px;
    right:30px;
   
  
    .input-wrapper{
        background-color: #2b3743;
        width: 100%;
        border-radius: 5px 5px 0 0;
        height: 2.5rem;
        padding: 0 15px;
        box-shadow: 0px 0px 4px #dddddd;
        display: flex;
        align-items: center;
  
      .icon-search{
          color:#f9fbfb;
      }
  
      input{
        background-color: transparent;
        border: none;
        height: 100%;
        font-size: 1rem;
        font-family: "normal";
        width: 100%;
        margin-left: 5px;
        outline: none;
        color: #f9fbfb
      }
    }
  
  
  }