
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
}

body, .App{
    width:100%;
    height:100vh;
}

@font-face {
    font-family: "normal";
    src: url("../src/Fonts/PlayfairDisplay-Regular.ttf");
  }

  @font-face {
    font-family: "bold";
    src: url("../src//Fonts/PlayfairDisplay-Bold.ttf");
  }

  @font-face {
    font-family: "italic";
    src: url("../src/Fonts/PlayfairDisplay-Italic.ttf");
  }

  .night-mode{
    width:100%;
    background-color: #2b3743;
    display:flex;
    align-items:center;
    border-bottom: 2px solid #1d2935;
    box-shadow: 0 2px 6px rgba(29, 41, 53, 0.1);
}
.main-wrapper{
      
    background-color:#ffffff;
    display:flex;
    align-items:center;
    border-bottom: 2px solid #f6f6f6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}